{% extends '_base.html' %}

{% load widget_tweaks %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="py-5 bg-primary" style="">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-white">
                    <h1 class="d-flex justify-content-center">Sign Up</h1>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center text-white">
            <div class="col-md-6 border rounded shadow d-flex justify-content-center">
                <form method="post" id="c_form-h" class="m-3" novalidate action="{% url 'transcoderauth:register' %}">
                    {% csrf_token %}

                    <span class="text-warning">
                    {{ form.non_field_errors }}
                    </span>

                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    {% endfor %}

                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% for field in form.visible_fields %}
                        <div class="form-group row {% if field == form.password1 %}mt-3{% endif %}">
                            <label for="{{ field.name }}" class="col-3 col-form-label">{{ field.label }}</label>
                            <div class="col-auto {% if field == form.password2 %}d-flex{% endif %}">
                                {% if form.is_bound %}
                                    {% if field.errors %}
                                        {% if field == form.password2 %}
                                            {% render_field field class="form-control mt-2 is-invalid" placeholder=field.label id=field.name %}
                                        {% else %}
                                            {% render_field field class="form-control is-invalid" placeholder=field.label id=field.name %}
                                        {% endif %}
                                    {% else %}
                                        {% if field == form.password2 %}
                                            {% render_field field class="form-control mt-2 is-valid" placeholder=field.label id=field.name %}
                                        {% else %}
                                            {% render_field field class="form-control is-valid" placeholder=field.label id=field.name %}
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    {% if field == form.password2 %}
                                        {% render_field field class="form-control mt-2" placeholder=field.label id=field.name %}
                                    {% else %}
                                        {% render_field field class="form-control" placeholder=field.label id=field.name %}
                                    {% endif %}
                                {% endif %}
                            </div>
                            {% if form.is_bound and field.errors %}
                                {% for error in field.errors %}
                                    <div class="text-warning ml-2">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-secondary">Sign Up</button>

                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block nav %}
{% endblock %}
