{% extends '_base.html' %}

{% block footer %}
    <div class="row">
        <div class="col-md-9">
            <p class="lead">Sign up to our newsletter for the latest news</p>
            <form class="form-inline">
                <div class="form-group"><input type="email" class="form-control my-1 mr-1"
                                               placeholder="Your e-mail here"></div>
                <button type="submit" class="btn my-1 btn-outline-primary">Subscribe</button>
            </form>
        </div>
    </div>
{% endblock %}
