{% extends '_base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}
    <div class="container mt-3 mb-3 pt-5 p-2">
        <div class="row">
            <div class="col-md-12 border p-2">
                <div class="container m-2">
                    <div class="row">
                        <h1>Settings</h1>
                    </div>
                    <div class="row text-muted">
                        Under construction
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block nav %}
{% endblock %}
